<h2>Enter the name of teh players</h2>

<form ng-submit="$ctrl.setPlayers()">
  <label for="p1">Player 1</label>
  <input type="text" ng-model="$ctrl.home" required>
  
  <label for="p2">Player 2</label>
  <input type="text" ng-model="$ctrl.visitor" required>

  <input type="submit" value="start">
</form>