
<section class="home" ng-if="!$ctrl.home_ready">
  {{$ctrl.home}}
  <select ng-options="option for option in $ctrl.gameOptions" ng-model="$ctrl.home_selectedOption">{{option}}</select>
  <button ng-click="$ctrl.home_ready = true">Go</button>
</section>

<section class="visitor" ng-if="$ctrl.home_ready">
  {{$ctrl.visitor}}
  <select ng-options="option for option in $ctrl.gameOptions" ng-model="$ctrl.visitor_selectedOption">{{option}}</select>
  <button ng-click="$ctrl.checkWinner()">Go</button>
</section>

<section class="results">
  {{$ctrl.results}}
</section>