<h2>Current game rules</h2>

{{$ctrl.gameRules}}

<h3>Change them</h3>
<textarea name="t" id="5" cols="30" rows="10" ng-model="$ctrl.newRules">

</textarea>

<button ng-if="$ctrl.newRules" ng-click="$ctrl.changeTheRules()">Change them!</button>